/* Base */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Layout */
html,
body,
#root,
.AppContainer {
	height: 100%;
}

body {
	overflow: hidden;
}

.AppContainer {
	display: flex;
	flex-direction: column;
}

.AppHeader {
	flex: none;
	height: 50px;
}

.AppWrapper {
	flex-grow: 1;
	display: flex;
}

.AppSidebar {
	flex: none;
	width: 200px;
}

.AppMain {
	flex-grow: 1;
}

/* Typography */
h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1rem;
}

h3 {
	font-size: 13px;
}
