.AppHeader {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid hsl(0, 0%, 90%);
	height: 51px;
}

.AppTitle a,
.AppNav a,
.AppNav span {
	display: inline-block;
	line-height: 30px;
	padding: 10px 24px;
}

.AppTitle a {
	color: black;
}

.AppTitle small {
	color: silver;
}

.AppNav {
	display: flex;
	flex-direction: row;
}

.AppNav a,
.AppNav span {
	color: hsl(0, 0%, 50%);
}

.AppNav a:hover {
	color: black;
}
