.BoardRead {
	display: flex;
	flex-direction: column;
	background-color: hsl(0, 0%, 95%);
	height: 100%;
}

.BoardTitle {
	flex: none;
	background-color: hsl(0, 0%, 85%);
	height: 50px;
}

.BoardCanvas {
	flex-grow: 1;
	position: relative;
}

.BoardScroll {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	overflow-x: auto;
	overflow-y: hidden;
	margin-bottom: 15px;
	padding-bottom: 15px;
	white-space: nowrap;
}

.BoardScroll::-webkit-scrollbar {
	height: 10px;
	width:  10px;
}

.BoardScroll::-webkit-scrollbar-button {
	display: block;
	height: 5px;
	width:  5px;
}

.BoardScroll::-webkit-scrollbar-thumb {
	background-color: hsl(0, 0%, 50%);
	border-radius: 5px;
}

.BoardScroll::-webkit-scrollbar-track-piece {
	background-color: hsla(0, 0%, 0%, .1);
	border-radius: 5px;
}

.VideoWrapper {
	display: inline-block;
	height: 100%;
	margin: 0 5px;
	vertical-align: top;
	white-space: nowrap;
	width: calc(160px + 30px);
}
