.PageFront .Paragraph h2 {
	font-weight: bold;
	line-height: 1.5;
	margin-top: 30px;
	margin-bottom: 5px;
}

.PageFront .Paragraph:first-child h2 {
	margin-top: 0;
}

.PageFront .Paragraph h2:before {
	content: '## '
}
