.PageFront .Paragraph h2 {
  font-weight: bold;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

.PageFront .Paragraph:first-child h2 {
  margin-top: 0;
}

.PageFront .Paragraph h2:before {
  content: '## ';
}
