.btn-link {
  background-color: transparent;
  border: 0;
  color: gray;
  cursor: pointer;
  line-height: inherit;
  outline: 0;
  padding: 0;
}

.btn-link:hover {
  color: black;
}

.btn-small {
  font-size: .75rem;
}
