.form-element {
  margin-bottom: 1.5rem;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input {
  outline: 0;
  padding: 0;
}

.borderless-input {
  background-color: transparent;
  border: 0;
}
