html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

small {
  font-size: 80%;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
