.PageBoard .PageContentInner {
  overflow-x: auto;
  margin-bottom: 1rem;
  padding-left: calc(1.5rem - .5rem);
  padding-right: calc(1.5rem - .5rem);
  padding-bottom: 1rem;
  white-space: nowrap;
}

.PageBoard .PageContentInner::-webkit-scrollbar {
  height: .5rem;
}

.PageBoard .PageContentInner::-webkit-scrollbar-button {
  display: block;
  width: calc(1.5rem / 2);
}

.PageBoard .PageContentInner::-webkit-scrollbar-thumb {
  background-color: silver;
  border-radius: calc(.5rem / 2);
}

.PageBoard .PageContentInner::-webkit-scrollbar-track-piece {
  background-color: hsla(0, 0%, 0%, .1);
  border-radius: calc(.5rem / 2);
}

.ListContainer {
  display: inline-block;
  height: 100%;
  margin: 0 .5rem;
  vertical-align: top;
  width: calc(10rem + 2rem + .375rem);
}
