.Card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, .1);
  max-height: 100%;
  white-space: normal;
}

.Card + .Card {
  margin-top: .75rem;
}

.CardHeader {
  flex: 0 0 auto;
  padding: .5rem 1rem;
}

.CardScroll {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 .5rem;
  padding: 0 .5rem;
}

.CardScroll:first-child:not(:empty) {
  margin-top: 1rem;
}

.CardScroll:last-child:not(:empty) {
  margin-bottom: 1rem;
}

.CardScroll:not(:empty) + .CardFooter {
  margin-top: .5rem;
}

.CardScroll::-webkit-scrollbar {
  width: .375rem;
}

.CardScroll::-webkit-scrollbar-button {
  display: block;
  height: 0;
}

.CardScroll::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 85%);
  border-radius: calc(.375rem / 2);
}

.CardScroll::-webkit-scrollbar-track-piece {
  background-color: hsla(0, 0%, 0%, .07);
  border-radius: calc(.375rem / 2);
}
