.ListName {
  display: inline-block;
  max-width: calc(10rem + .375rem - 1.5rem);
}

.ListEdit {
  padding: .5rem 1rem;
}

.ListEdit input {
  line-height: 1.5rem;
}

.ListEdit .BtnTrash {
  display: none;
  line-height: 1;
  margin-left: .5rem;
  width: 1rem;
}

.ListEdit:hover .BtnTrash {
  display: inline-block;
}
