.Video a:hover {
  text-decoration: underline;
}

.Video + .Video {
  margin-top: 1rem;
}

.VideoThumbnail {
  background-color: silver;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10rem;
  height: calc(10rem * 9 / 16);
}

.VideoTitle {
  font-size: .75rem;
  line-height: 1.3;
}

.VideoMeta {
  color: gray;
  font-size: 0.625rem;
  line-height: 1.3;
}

.VideoMeta a {
  color: gray;
}

.VideoMeta time:before,
.VideoMeta span.VideoEdit:before {
  content: '\002022';
  margin: 0 .25rem;
}
