.ListHeader {
	padding-bottom: 10px;
}

.ListName {
	display: inline-block;
}

.ListHeader .BtnTrash {
	display: none;
	margin-left: 10px;
}

.ListHeader:hover .BtnTrash {
	display: inline-block;
}

.VideoList .VideoAdd {
	flex: 0 0 auto;
}
